Source: msmtp-yaqi
Section: fnx/wrapper
Priority: optional
Maintainer: Christian Schrötter <cs@fnx.li>
Build-Depends-Indep: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/froonix/msmtp-yaqi

Package: msmtp-yaqi
Architecture: all
Multi-Arch: foreign
Provides: msmtpq, msmtp-queue
Depends: ${misc:Depends}, ${shlibs:Depends}, msmtp
Description: Yet Another Queue Implementation for MSMTP
